.Small-logo {
	height: 25vmin;
	cursor: pointer;
	padding-top: 1em;
	padding-bottom: 2em;
}

.endOfGameContainer {
	/* overflow-y: scroll; */
	padding-bottom: 2em;
}

.endOfGameScoringSection {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 1em;
	margin-bottom: 1em;
}

.endOfGameContainer p {
	display: flex;
}

.wondersPointsContainer,
.militaryPointsContainer,
.treasuryPointsContainer,
.civilianStructuresPointsContainer,
.scientificPointsContainer,
.commercialPointsContainer,
.guildPointsContainer {
	display: flex;
	flex-direction: column;
	max-width: 15em;
	margin-top: 0.5em;
}

.minusButton, .plusButton {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	outline: none;
}

.endOfGameContainer .MuiTextField-root {
	margin-left: 1em;
	margin-right: 1em;
}

.guildPointsContainer {
	padding-bottom: 2em;
}