.Small-logo {
	height: 25vmin;
	cursor: pointer;
	padding-top: 1em;
}

.setupGameContainer .MuiListItemText-primary {
	font-size: 0.9em !important;
}

.selectPlayersContainer,
.selectWonderContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 1em;
	width: 80%;
}

.addPlayerContainer {
	display: flex;
	align-items: center;
	padding-bottom: 1.5em;
}
